In [6]:
import sys
print(sys.version)

3.11.8 | packaged by Anaconda, Inc. | (main, Feb 26 2024, 21:34:05) [MSC v.1916 64 bit (AMD64)]

In [8]:
pip install yfinance

Collecting yfinance
  Obtaining dependency information for yfinance from https://files.pythonhosted.org/packages/51/31/72b8f5aa9ed9c4a6afd09c0bab491862ba5837facf7d81e1ed51a555ae8e/yfinance-0.2.44-py2.py3-none-any.whl.metadata
  Downloading yfinance-0.2.44-py2.py3-none-any.whl.metadata (13 kB)
Requirement already satisfied: pandas>=1.3.0 in c:\users\gurma\anaconda3\lib\site-packages (from yfinance) (2.1.4)
Requirement already satisfied: numpy>=1.16.5 in c:\users\gurma\anaconda3\lib\site-packages (from yfinance) (1.24.3)
Requirement already satisfied: requests>=2.31 in c:\users\gurma\anaconda3\lib\site-packages (from yfinance) (2.31.0)
Collecting multitasking>=0.0.7 (from yfinance)
  Obtaining dependency information for multitasking>=0.0.7 from https://files.pythonhosted.org/packages/3e/8a/bb3160e76e844db9e69a413f055818969c8acade64e1a9ac5ce9dfdcf6c1/multitasking-0.0.11-py3-none-any.whl.metadata
  Downloading multitasking-0.0.11-py3-none-any.whl.metadata (5.5 kB)
Requirement already satisfied: lxml>=4.9.1 in c:\users\gurma\anaconda3\lib\site-packages (from yfinance) (4.9.3)
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\gurma\anaconda3\lib\site-packages (from yfinance) (3.10.0)
Requirement already satisfied: pytz>=2022.5 in c:\users\gurma\anaconda3\lib\site-packages (from yfinance) (2023.3.post1)
Collecting frozendict>=2.3.4 (from yfinance)
  Obtaining dependency information for frozendict>=2.3.4 from https://files.pythonhosted.org/packages/6a/71/3656c00606e75e81f11721e6a1c973c3e03da8c7d8b665d20f78245384c6/frozendict-2.4.4-py311-none-any.whl.metadata
  Downloading frozendict-2.4.4-py311-none-any.whl.metadata (23 kB)
Collecting peewee>=3.16.2 (from yfinance)
  Downloading peewee-3.17.6.tar.gz (3.0 MB)
     ---------------------------------------- 0.0/3.0 MB ? eta -:--:--
      --------------------------------------- 0.0/3.0 MB 991.0 kB/s eta 0:00:03
     ---- ----------------------------------- 0.3/3.0 MB 4.3 MB/s eta 0:00:01
     ---------------- ----------------------- 1.2/3.0 MB 9.8 MB/s eta 0:00:01
     ---------------------------------------  2.9/3.0 MB 17.1 MB/s eta 0:00:01
     ---------------------------------------- 3.0/3.0 MB 13.5 MB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\gurma\anaconda3\lib\site-packages (from yfinance) (4.12.2)
Collecting html5lib>=1.1 (from yfinance)
  Obtaining dependency information for html5lib>=1.1 from https://files.pythonhosted.org/packages/6c/dd/a834df6482147d48e225a49515aabc28974ad5a4ca3215c18a882565b028/html5lib-1.1-py2.py3-none-any.whl.metadata
  Downloading html5lib-1.1-py2.py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: soupsieve>1.2 in c:\users\gurma\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: six>=1.9 in c:\users\gurma\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\users\gurma\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\gurma\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\gurma\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\gurma\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\gurma\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\gurma\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (1.25.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\gurma\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2024.2.2)
Downloading yfinance-0.2.44-py2.py3-none-any.whl (94 kB)
   ---------------------------------------- 0.0/94.6 kB ? eta -:--:--
   ---------------------------------------- 94.6/94.6 kB 5.3 MB/s eta 0:00:00
Downloading frozendict-2.4.4-py311-none-any.whl (16 kB)
Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
   ---------------------------------------- 0.0/112.2 kB ? eta -:--:--
   ---------------------------------------- 112.2/112.2 kB 6.4 MB/s eta 0:00:00
Downloading multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Building wheels for collected packages: peewee
  Building wheel for peewee (pyproject.toml): started
  Building wheel for peewee (pyproject.toml): finished with status 'done'
  Created wheel for peewee: filename=peewee-3.17.6-py3-none-any.whl size=138939 sha256=e31b667902010a56413f834cb37e0d7b2f67bc83cf574b6a7ccd1252a619986a
  Stored in directory: c:\users\gurma\appdata\local\pip\cache\wheels\1c\09\7e\9f659fde248ecdc1722a142c1d744271aad3914a0afc191058
Successfully built peewee
Installing collected packages: peewee, multitasking, html5lib, frozendict, yfinance
Successfully installed frozendict-2.4.4 html5lib-1.1 multitasking-0.0.11 peewee-3.17.6 yfinance-0.2.44
Note: you may need to restart the kernel to use updated packages.

In [9]:
import yfinance as yf

In [22]:
ticker = yf.Ticker("CADINR=X")
data = ticker.history(period="5y")

In [27]:
type(data)

pandas.core.frame.DataFrame

In [28]:
import pandas as pd
df=pd.DataFrame(data)
df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2019-10-01 00:00:00+01:00,53.291000,53.745998,53.264999,53.287998,0,0.0,0.0
2019-10-02 00:00:00+01:00,53.740002,53.801998,53.419998,53.740002,0,0.0,0.0
2019-10-03 00:00:00+01:00,53.320999,53.474998,53.105000,53.324001,0,0.0,0.0
2019-10-04 00:00:00+01:00,53.202000,53.283001,53.041000,53.214001,0,0.0,0.0
2019-10-07 00:00:00+01:00,52.560001,53.366001,52.560001,53.154999,0,0.0,0.0

In [30]:
df.shape

(1305, 7)

In [32]:
df.describe()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
count,1305.000000,1305.000000,1305.000000,1305.000000,1305.0,1305.0,1305.0
mean,58.892061,59.177094,58.736232,58.978107,0.0,0.0,0.0
std,2.658691,2.653167,2.668961,2.643402,0.0,0.0,0.0
min,51.283669,51.988758,50.778564,51.517307,0.0,0.0,0.0
25%,57.201084,57.407448,57.039898,57.233238,0.0,0.0,0.0
50%,59.957020,60.299641,59.817886,60.093193,0.0,0.0,0.0
75%,60.909737,61.188248,60.755508,61.015823,0.0,0.0,0.0
max,63.004181,63.129829,62.829025,63.006218,0.0,0.0,0.0

In [33]:
df.shape

(1305, 7)

In [34]:
df = df.drop(['Volume','Dividends','Stock Splits'],axis=1)
df.head()

                                Open       High        Low      Close
Date
2019-10-01 00:00:00+01:00  53.291000  53.745998  53.264999  53.287998
2019-10-02 00:00:00+01:00  53.740002  53.801998  53.419998  53.740002
2019-10-03 00:00:00+01:00  53.320999  53.474998  53.105000  53.324001
2019-10-04 00:00:00+01:00  53.202000  53.283001  53.041000  53.214001
2019-10-07 00:00:00+01:00  52.560001  53.366001  52.560001  53.154999

## lets get the date out of index from the dataframe